<%= image_tag("#{ENV['RADAR_URL']}", :id =>"radar")%>
<div ng-controller="MountainCtrl">
  <div class="container">
    <div class="row">
      <section>
        <a style="color: white; text-decoration: none;" href="/"><h1>SkiDash</h1></a>
          <form name="mountainForm">
            <select name="mountainSelect" id="mountainSelect" ng-model="selected_mountain" ng-change="selected()" ng-options="mountain.name for mountain in mountains">
              <option value="">Select Mountain</option>
            </select>
          </form>
        </section>
    </div>
  </div>
    
  <forecast data=forecast ng-if="display_forecast"></forecast>

  <travelalert alerts=traffic_alerts ng-if="traffic_alerts.length > 0"></travelalert>

</div>

<%= render partial: "/shared/background_video" %>
