<div ng-controller="MountainCtrl">
  <div class="header-container">
    <div class="row">
      <section class="header">
      <a class="header" href="/"><h1>SkiDash</h1>
      
      <img class="co-flag" ng-src="co_flag.png"></a>
        <%= image_tag("#{ENV['RADAR_URL']}", :id =>"radar")%>
         <h3>Forecasts</h3>
          <form name="mountainForm">
            <select name="mountainSelect" id="mountainSelect" ng-model="selected_mountain" ng-change="selected()" ng-options="mountain.name for mountain in mountains">
              <option value="">Select Mountain</option>
            </select>
          </form>
        </section>
    </div>
  </div>
    
  <forecast data=forecast mountain=selected_mountain ng-if="display_forecast"></forecast>

   <div class="road-volume-container" ng-show="show_volume">
    <div class="row">
      <section class="road-volume">
          <h3>I-70 Road Volume</h3>
          <%= line_chart [{name: 'West', data: @volumes_west}, {name: 'East', data: @volumes_east}], xtitle: "Time", ytitle: "Avg Road Volume" %>
        </section>
    </div>
  </div>
  
  <section class="traffic-header" ng-if="!traffic_alerts">CDOT Info not available</section>
  <travelalert alerts="traffic_alerts" roads="roads" speeds="road_speeds" selectroad="roadSelected" ng-if="traffic_alerts.length > 0"></travelalert>
  
 

  <travelcamera images=traffic_images ng-if="traffic_images.length > 0"></travelcamera>

  <div class="footer-container">
    <div class="row">
      <section class="footer">
        <div class="copyright">&copy; Paul Wenig 2017</div>
        <div class="login"><%= link_to 'Admin Login', new_user_session_path %></div>
        
      </section>
    </div>

  </div>

</div>

<%= render partial: "/shared/background_video" %>
