<div ng-controller="MountainCtrl">
  <div class="header-container">
    <div class="row">
      <section class="header">
        <a class="header" href="/">
        <img class="co-flag" ng-src="co_flag.png"></a>
          <%= image_tag("#{ENV['RADAR_URL']}", :id =>"radar")%>
          <h1>SkiDash</h1>
      </section>
    </div>
  </div>
    
  <forecast></forecast>

   <div class="road-volume-container" ng-show="show_volume">
    <div class="row">
      <section class="road-volume">
          <h3>I-70 Road Volume</h3>
          <%= line_chart [{name: 'West', data: @volumes_west}, {name: 'East', data: @volumes_east}], xtitle: "Time", ytitle: "Avg Road Volume" %>
        </section>
    </div>
  </div>
  
  <travelalert></travelalert>

  <div class="footer-container">
    <div class="row">
      <section class="footer">
        <div class="copyright">&copy; Paul Wenig 2017</div>
        <div class="login"><%= link_to 'Admin Login', new_user_session_path %></div>
        
      </section>
    </div>

  </div>

</div>

<%= render partial: "/shared/background_video" %>
