<div ng-controller="MountainCtrl">
  <div class="header-container">
    <div class="row">
      <section class="header">
      <a class="header" href="/"><h1>SkiDash</h1>
      
      <img class="co-flag" ng-src="co_flag.png"></a>
        <%= image_tag("#{ENV['RADAR_URL']}", :id =>"radar")%>
         
          <form name="mountainForm">
            <select name="mountainSelect" id="mountainSelect" ng-model="selected_mountain" ng-change="selected()" ng-options="mountain.name for mountain in mountains">
              <option value=""> Mountain Forecast </option>
            </select>
          </form>
        </section>
    </div>
  </div>
    
  <forecast data=forecast ng-if="display_forecast"></forecast>

  <travelalert alerts=traffic_alerts ng-if="traffic_alerts.length > 0"></travelalert>
  <travelcamera images=traffic_images></travelcamera>

</div>

<%= render partial: "/shared/background_video" %>
