---
http_interactions:
- request:
    method: get
    uri: https://api.wunderground.com/api/74d34edfa66387c4/conditions/q/80304.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.065'
      Last-Modified:
      - Thu, 07 Sep 2017 20:58:24 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Boulder, CO\",\n\t\t\"city\":\"Boulder\",\n\t\t\"state\":\"CO\",\n\t\t\"state_name\":\"Colorado\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"80304\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"40.04000092\",\n\t\t\"longitude\":\"-105.27999878\",\n\t\t\"elevation\":\"1661.5\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"Melody Heights, Boulder, Colorado\",\n\t\t\"city\":\"Melody
        Heights, Boulder\",\n\t\t\"state\":\"Colorado\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"40.040394\",\n\t\t\"longitude\":\"-105.276428\",\n\t\t\"elevation\":\"5440
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KCOBOULD100\",\n\t\t\"observation_time\":\"Last
        Updated on September 7, 2:58 PM MDT\",\n\t\t\"observation_time_rfc822\":\"Thu,
        07 Sep 2017 14:58:22 -0600\",\n\t\t\"observation_epoch\":\"1504817902\",\n\t\t\"local_time_rfc822\":\"Thu,
        07 Sep 2017 14:58:24 -0600\",\n\t\t\"local_epoch\":\"1504817904\",\n\t\t\"local_tz_short\":\"MDT\",\n\t\t\"local_tz_long\":\"America/Denver\",\n\t\t\"local_tz_offset\":\"-0600\",\n\t\t\"weather\":\"Clear\",\n\t\t\"temperature_string\":\"83.4
        F (28.6 C)\",\n\t\t\"temp_f\":83.4,\n\t\t\"temp_c\":28.6,\n\t\t\"relative_humidity\":\"25%\",\n\t\t\"wind_string\":\"Calm\",\n\t\t\"wind_dir\":\"NNE\",\n\t\t\"wind_degrees\":28,\n\t\t\"wind_mph\":0.0,\n\t\t\"wind_gust_mph\":\"2.0\",\n\t\t\"wind_kph\":0,\n\t\t\"wind_gust_kph\":\"3.2\",\n\t\t\"pressure_mb\":\"1020\",\n\t\t\"pressure_in\":\"30.11\",\n\t\t\"pressure_trend\":\"0\",\n\t\t\"dewpoint_string\":\"44
        F (7 C)\",\n\t\t\"dewpoint_f\":44,\n\t\t\"dewpoint_c\":7,\n\t\t\"heat_index_string\":\"81
        F (27 C)\",\n\t\t\"heat_index_f\":81,\n\t\t\"heat_index_c\":27,\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"81
        F (27 C)\",\n\t\t\"feelslike_f\":\"81\",\n\t\t\"feelslike_c\":\"27\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"--\",\n\t\t\"UV\":\"8\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"clear\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/clear.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/CO/Boulder.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KCOBOULD100\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=40.040394,-105.276428\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Thu, 07 Sep 2017 20:58:24 GMT
recorded_with: VCR 2.9.0
