<div class="camera-container">
  <section class="camera-header">
    <h3>Traffic Cameras</h3>
  </section>
</div>

<div class="camera-container">
  <div ng-repeat="image in images">
      <section class="camera">
        <h4>{{ image['CameraName']}}</h4>
        <a href="{{'http://www.cotrip.org/' + image['ImageLocation']}}" target="_blank"><img class="camera" ng-src="{{'http://www.cotrip.org/' + image['ImageLocation']}}"></a>
        <p>{{ image['ViewDescription']}}</p>
      </section>
  </div>
</div>

 