<div class="traffic-container">
  <section class="traffic-header">
    <h3>Traffic Alerts</h3>
  </section>
</div>

<div class="traffic-container">
    <div ng-repeat="alert in alerts">
      <section class="traffic">
        <p class="title">{{alert['Title']}}</p>
        <p class="title">{{alert['LocationDescription']}}</p>
        <button class="description" ng-click="active=!active">Show/Hide Message</button>
        <p ng-class="{'active': active}">{{alert['Description']}}</p>
        <p class="title">****</p>
      </section>
    </div>
    
</div>