h1 {
  font-family: 'Nunito', sans-serif;
}

section {
  padding: 2em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: medium;
  margin: 2em auto;
  background-color: rgba(0,0,0,.9);
  
  color: #fff;
  text-align: center;

}

img#radar {
  height: 200px;
  width: 225px;
  border-radius: 50%;
  border-style: solid;
  border-width: medium;
  border-color: black;
  margin-top: -18px;
  float: right;
  margin-right: -9px;
}

.traffic-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  section.traffic-header{
    width: 90%;
    padding: 0;
    height: 125px;
  }

  section.traffic {
    width: 200px;
    min-height: 320px;
    margin: 35px;

    button.description {
      height: 39px;
      width: 133px;
      border: 2px solid;
      border-radius: 25px;
      background-color: skyblue;
      font-size: 12px;
    }

    p.title {
      display: block;
      font-size: 20px;
    }
    p {
      display: none;
    }

    p.active {
      display: block;
    }

  }
}

.camera-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  section.camera-header {
    width: 90%;
    padding: 0;
  }

  section.camera {
    width: 200px;
    height: 200px;
    margin: 30px;

    p {
      font-size: 15px;
      padding: 0;
      

    }

    h4 {
      margin-top: -20px;
      font-size: 16px;
      
    }
  }
}

.current-condition-container {
  width: 100%;
  display: flex;
  flex-direction: row;

  section.current-condition {

    ul {
      list-style: none;
    }
    li {
      font-size: 18px;
      p {
        font-size: 12px;
      }
    }
    padding: 0;
    width: 70%;
    min-height: 170px;
  }
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;

  .row {
    width: 100%;
  }

  
  section.header {
    height: 200px;

    h1 {
      margin-bottom: 0px;
      margin-top: 0px;
    }
  

    a.header {
      color: white; 
      text-decoration: none; 
      float: left;
    }

    img.co-flag {
      height: 100px;
      width: 116px;
      float: left;

    }
  }
}

.forecast-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  section.forecast {
    width: 200px;
    height: 275px;
    margin: 35px;

    ul {
      list-style: none;
    }

    li.forecast {
      font-size: 18px;
    }
  }


}

img.camera {
  height: 150px;
  width: 180px;
}


h2 {
text-align: center;
}

h3 {
text-align: center;
}

video {
position: fixed;
top: 0;
left: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -1;
}

#forecasts {
min-height: 800px;
}

select#roadSelect{
  height: 40px;
  width: 260px;
  font-size: 20px;
  background-color: skyblue;
  color: black;
  height: 32px;
  width: 150px;
  text-align-last: center;
}

select#mountainSelect{
  height: 40px;
  width: 180px;
  font-size: 20px;
  background-color: skyblue;
  color: black;
  text-align-last: center;
}

#mountain-form {
background-color: #337ab7;
color: white;
height: 50px;
width: 200px;
font-size: 18px;
margin-right: 20px;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}



body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite;
}

#alerts {
min-height: 420px;
}

#speeds {
min-height: 375px;
ul {
  list-style-type: none;
  text-align: left;
  font-size: 17px;
}

}

#traffic-only {
display: none;
}

.mph-speed {
float: right;
color: black;
font-size: 16px;
margin-right: 80px;
}

.speed-segment {
color: white;
}





/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

.speed-segment {
  font-size: 11px;
}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  h1 {
    color: yellow;
    font-size: 33px;
  }
  h3 {
    font-size: 40px;
  }

  select#mountainSelect{
    height: 80px;
    width: 295px;
    font-size: 28px;
  }

  .traffic-container {

    section.traffic-header{
      height: 250px;
    }

  }

  .forecast-container {
    section.forecast {
      width: 345px;
      height: auto;
      min-height: 525px;

      li.forecast {
        font-size: 36px;
      }
      
    }
   
  }

  .traffic-container {

    section.traffic {
      width: 800px;
      height: auto;

      button.description{
        height: 90px;
        width: 175px;
        font-size: 26px;
      }

      p.title {
        font-size: 36px;
      }
  
      p.active {
        font-size: 36x;
      }

      p {
        font-size: 36x;
      }

    }
    
  }

  .camera-container {

    section.camera {
      width: 322px;
      height: 305px;

      img.camera {
        width: 280px;
        height: 220px;
      }

      h4 {
        font-size: 20px;
      }

      p {
        font-size: 19px;
      }
    }
  }


  .current-condition-container {
    
    section.current-condition {
      width: 675px;
      height: 300px;
      li {
        font-size: 36px;

        &.forecast-time {
          font-size: 30px;
          margin-top: 30px;
        }
      }
      
    }
  }

  select#roadSelect{
    height: 60px;
    width: 220px;
    font-size: 28px;
    
  }
  
  


.speed-segment {
  font-size: 10px;
}
.mph-speed {
  font-size: 10px;
  float: none;
}

#mountain-form {
  background-color: #337ab7;
  color: white;
  font-size: 20px;
  height: 150px;
  margin-top: 24px;
}
// h1 {
//   font-size: 60px;
// }


}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}