<!DOCTYPE html>
<html ng-app="skidash">
  <head>
    <title>SkidashV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link type="text/css" rel="stylesheet" src="css/animate.css">
    <link type="text/css" rel="stylesheet" src="css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" src="css/bootstrap.min.css">
    


  </head>

  <body>
    <%= yield %>
  </body>
</html>
